<ion-content [fullscreen]="true">
  <div class="borderbutton">
    <div class="returnbutton">
      <ion-icon name="arrow-back"></ion-icon>
    </div>
  </div>

  <h1 class="carrinho_title">Meu carrinho</h1>

  <div class="carrinho_container">

    <div class="carrinho_frutas">
      <img src="./assets/frutas.png" alt="frutas" class="carrinho_frutas_img">
      <div class="carrinho_frutas_details">
        <p>Frutas</p>
        <span>$ 50,00</span>
        <span>5 itens</span>
      </div>
      <p class="carrinho_frutas_edit"> <img src="./assets/edit.png" alt="lápis de editar">Editar</p>
    </div>

    <div class="carrinho_diversos">
      <img src="./assets/diversos.png" alt="diversos" class="carrinho_diversos_img">
      <div class="carrinho_diversos_details">
        <p>Diversos</p>
        <span>$ 35,40</span>
        <span>6 itens</span>
      </div>
      <p class="carrinho_diversos_edit"> <img src="./assets/edit.png" alt="">Editar</p>
    </div>

    <div class="carrinho_acougue">
      <img src="./assets/acougue.png" class="carrinho_acougue_img">
      <div class="carrinho_acougue_details">
        <p>Açougue</p>
        <span>$ 56,44</span>
        <span>3 itens</span>
      </div>
      <p class="carrinho_acougue_edit"> <img src="./assets/edit.png" alt="">Editar</p>
    </div>
  </div>

  <div class="carrinho_pagartotal">
    <div class="carrinho_pagar"> 
      <p>Total a pagar</p>
      <h2>$ 141,84</h2>
    </div> 
    <button class="carrinho_button_pagar">Pagar agora > </button>
  </div>

</ion-content>
