<ion-content>
  <div class="categories_topbar">
    <img src="./assets/map-pin 1.png" class="categories_mappin">
    <p class="categories_location">Taboão da Serra, SP</p>
    <img src="./assets/user.png" class="categories_user">
  </div>

  <div class="categories_toptext">
  <p class="categories_text1">Seja bem-vindo,</p>
  <h2 class="categories_title">Vamos pedir itens fresquinhos para você?</h2>
  </div>

  <p class="categories_text2">Categorias</p>

  <div class="categories_">
    <div class="categories_frutas_itens">
      <img src="./assets/frutas.png" class="categories_frutas_img">
      <p class="categories_frutas_text">Frutas</p>
    </div>
    <div class="categories_diversos_itens">
      <img src="./assets/diversos.png" class="categories_diversos_img">
      <p class="categories_diversos_text">Diversos</p>
    </div>
    <div class="categories_acougue_itens">
      <img src="./assets/acougue.png" class="categories_acougue_img">
      <p class="categories_acougue_text">Açougue</p>
    </div>
  </div>

  <p class="categories_compras_text">Minhas Compras</p>

  <div class="categories_compras">
    <div class="categories_compras_frutas">
      <img src="./assets/frutas.png" class="categories_compras_frutas_img">
      <div class="categories_compras_frutas_itendate">
        <p>Frutas</p>
        <span>27/05/2024</span>
      </div>
      <div class="categories_compras_frutas_valoriten">
        <h3>$ 50,00</h3>
        <span>5 itens</span>
      </div>
    </div>
    <div class="categories_compras_diversos">
      <img src="./assets/diversos.png" class="categories_compras_diversos_img">
      <div class="categories_compras_diversos_itendate">
        <p>Diversos</p>
        <span>20/05/2024</span>
      </div>
      <div class="categories_compras_diversos_valoriten">
        <h3>$ 35,40</h3>
        <span>6 itens</span>
      </div>
    </div>
    <div class="categories_compras_acougue">
      <img src="./assets/acougue.png" class="categories_compras_acougue_img">
      <div class="categories_compras_acougue_itendate">
        <p>Açougue</p>
        <span>20/05/2024</span>
      </div>
      <div class="categories_compras_acougue_valoriten">
        <h3>$ 56,44</h3>
        <span>3 itens</span>
      </div>
    </div>
  </div>
</ion-content>
