.search_topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
        margin-top: 15px;
        padding:22px;
}

.search_bar{
    //margin-top: 5px;
}

.container_category_itens{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    padding: 0 20px;
}

.category_frutas,
.category_diversos,
.category_acougue,
.category_bebidas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 185px;
    height: 78px;
    border-radius: 16px;
    padding: 10px;
    text-align: center;
    background-color: #fff;
    transition: transform 0.3s;
}

.category_frutas{
    background-color: #C5D7B1;
}

.category_diversos{
    background-color: #92B6FA;
}

.category_acougue{
    background-color: #F0BDB2;
}

.category_bebidas {
    background-color: #60F8E9;
}

.category_frutas_img,
.category_diversos_img,
.category_acougue_img,
.category_bebidas_img{
    width: 40px;
    height: 40px;
    //margin-bottom: 5px;
    //padding: 0 8px 40px 0;
}
.category_frutas p,
.category_diversos p,
.category_acougue p,
.category_bebidas p{
    font-size: 14px;
    //text-align: center;
    //padding: auto;
}

.category_diversos{
    //width: 185px;
    //height: 78px; 
    //margin: 10px 0 0 20px;
    //border-radius: 10px;
    //display: flex;
    //padding: 20px;
    //background-color: #92B6FA;
}
.category_diversos_img{
    //width: 78px;
    //height: 78px;
    //padding: 0 30px 40px 0;
}
.category_diversos p{
    text-align: center;
    padding: auto;
}

.category_acougue{
    //width: 185px;
    //height: 78px; 
    //margin: 10px 0 0 20px;
    //border-radius: 10px;
    //display: flex;
    //padding: 20px;
    //background-color: #F0BDB2;
}
.category_acougue_img{
    //width: 78px;
    //height: 78px;
    //padding: 0 30px 40px 0;
}
.category_acougue p{
    text-align: center;
    padding: auto;
}

.category_bebidas{
    //width: 185px;
    //height: 78px; 
    //margin: 10px 0 0 20px;
    //border-radius: 10px;
    //display: flex;
    //padding: 20px;
    //background-color: #60F8E9;
}
.category_bebidas_img{
    //width: 78px;
    //height: 78px;
    //padding: 0 30px 40px 0;
}
.category_bebidas p{
    text-align: center;
    padding: auto;
}
