<ion-content>
  <div class="search_topbar">
    <img src="./assets/map-pin 1.png" class="search_mappin">
    <p class="search_location">Taboão da Serra, SP</p>
    <img src="./assets/user.png" class="search_user">
  </div>

  <ion-searchbar class="search_bar"></ion-searchbar>

  <div class="container_category_itens">
    <div class="category_frutas">
      <img src="./assets/frutas.png" class="category_frutas_img">
      <p>Frutas</p>
    </div>
    <div class="category_diversos">
      <img src="./assets/diversos.png" class="category_diversos_img">
      <p>Diversos</p>
    </div>
    <div class="category_acougue">
      <img src="./assets/acougue.png" class="category_acougue_img">
      <p>Açougue</p>
    </div>
    <div class="category_bebidas">
      <img src="./assets/bebidas.png" class="category_bebidas_img">
      <p>Bebidas</p>
    </div>
  </div>
</ion-content>